html {
    font-size: 100%;
    font-family: sans-serif;
    background: #ebd8ba;
    width: 100%;
}


h1 {
    text-align: center;
    color: #333;
}

input {
    padding: 15px;
    /* width: 100%; */
    /* font-size: 18px; */
    font-size: 1rem;
    margin-bottom: 2rem;
}

.checkbox {
    position: relative;
    top: 15px;
    margin-left: 1rem;
}

.input_label {
    justify-self: center;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 15px;
    margin: 8px 0;
    background: #ca535d;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* justify-content: center; */

}

li.checked {
    opacity: 0.6;
    background: #ca535db1;
}

li.checked label {
    text-decoration: line-through;
}

input[type="checkbox"] {
    transform: scale(2);
    margin-right: 15px;
    accent-color: #ff4081;
    cursor: pointer;
}

.count {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    /* color: #ff4081; */
    background-color: white;
    justify-self: center;
    width: 180px;
    border-radius: 1rem;
}


.search-container {
  position: relative;
  width: 250px;
}

.search-container input {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}

.search-container input:focus {
  border-color: #ca535d;
}

.search-container label {
  position: absolute;
  top: 12%;
  right: 10px;
  transform: translateY(-20%);
  background: white;
  border-radius: 1rem;
  padding: 0 4px;
  color: #888;
  transition: 0.3s;
  pointer-events: none;
}

.search-container input:focus + label,
.search-container input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  color: #ca535d;
}

@media (max-width: 600px) {
  .search-container {
    margin: 0 1rem;
    width: 80%;   /* adjusts nicely for phones */
  }
}
