body {
    font-family: sans-serif;
    padding: .5rem;
    background: #ebd8ba;
}

h1 {
    text-align: center;
    color: #333;
}

input {
    padding: 15px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 15px;
    margin: 8px 0;
    background: #ca535d;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

li.checked {
    opacity: 0.6;
    background: #ca535db1;
}

li.checked label {
    text-decoration: line-through;
}

input[type="checkbox"] {
    transform: scale(2);
    margin-right: 15px;
    accent-color: #ff4081;
    cursor: pointer;
}

.count {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: #ff4081;
}

#search {
    border-radius: .5rem;
    /* outline: none; */
}